<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Molle:400i|Nova+Script|Space+Mono" rel="stylesheet">
  <link href="./drinks/" rel="img">
  <link href="./backgrounds/" rel="img">
  <title>Mixologist</title>
</head>
<body>
<div id="navBar">
  <h1>Mixologist</h1>
    <div class="dropdown">
      <p class="fontDrinks">Beer</p>
        <div class="dropdown-content">
          <!-- <%= %> -->
          Rendering
        </div>
    </div>
          <div class="dropdown2">
            <P class="fontDrinks">Cocktails</P>
          </div>
              <div class="dropdown-content2">
                <!-- <%= %> -->
                Rendering
              </div>
  <div class="dropdown3">
    <p class="fontDrinks">Wine</p>
      <div class="dropdown-content3">
            <!-- <%= %> -->
            Rendering
      </div>
  </div>

      <div class="dropdown4">
        <p class="fontDrinks">Non-Alcoholic</p>
          <div class="dropdown-content4">
                  <!-- <%= %> -->
                  Rendering
          </div>
      </div>
</div>
  <div class="mixerStyling">
    <img src="file:///drinks/vodka.png" alt="vodka" class="vodka">
    <!-- <img src="/public/drinks/8903768965150.png" alt="whiterum" class="whiterum">
    <img src="file:///Users/student/code/wdi/projects/CocktailMixer/public/drinks/img-the-bar-collection_0131_captain-morgans-generic.png" alt="darkrum" class="darkrum">
    <img src="file:///Users/student/code/wdi/projects/CocktailMixer/public/drinks/product_bombay.png" alt="gin" class="gin">
    <img src="file:///Users/student/code/wdi/projects/CocktailMixer/public/drinks/Vedrenne-Curacao-Triple-Sec-bottle.png" alt="triplesec" class="triplesec">
    <img src="file:///Users/student/code/wdi/projects/CocktailMixer/public/drinks/classic_curacao_bleu.png" alt="bleucuracao" class="bleucuracao">
    <img src="file:///Users/student/code/wdi/projects/CocktailMixer/public/drinks/20871-Baileys-1L.png" alt="baileys" class="baileys">
    <img src="file:///Users/student/code/wdi/projects/CocktailMixer/public/drinks/1800_mainProductPhotos_silver_new.png" alt="tequila" class="tequila"> -->
  </div>

</body>
</html>
